@model IEnumerable<Fast_Food1.Models.CartItem>;

@using Fast_Food1.Models;
@{
    var item = Model;
    if (item != null && item.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Food.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Food.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                    <th>Sub-Total</th>
                    <th></th>
                    <th></th>
                    <th></th> <!-- Thêm cột 'Buy' -->
                </tr>
            </thead>
            <tbody>
                @foreach (var cartItem in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => cartItem.Food.Title)</td>
                        <td>@Html.DisplayFor(modelItem => cartItem.Food.Price)</td>
                        <td>@Html.DisplayFor(modelItem => cartItem.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => cartItem.SubTotal)</td>
                        <td>
                            @Html.ActionLink("+", "Add", "CartItems", new { id = cartItem.FoodId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("-", "Minus", "CartItems", new { id = cartItem.FoodId }, new { @class = "btn btn-danger" })
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "Remove", "CartItems", new { id = cartItem.FoodId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
                <tr></tr>
                <tr>

                    <td colspan="6" style="text-align:right">
                        Total: $@ViewBag.total
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex flex-wrap">
            <div class="col-md-11"></div>
            <div>
                <form asp-controller="CheckOut" asp-action="Index">
                    <input type="hidden">
                    <input type="submit" value="Check Out" class="btn btn-primary">
                </form>
            </div>
        </div>
    }

    else
    {
        <div class="center">
            <h1>YOUR SHOPPING CART IS EMPTY</h1>
            <a asp-controller="Home" asp-action="Index">SHOPPING NOW!</a>
        </div>
    }
}