@model Fast_Food1.Models.FoodCategoryView

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</p>
<form asp-controller="Foods" asp-action="Index" method="get">
    <p>

        <select asp-for="FoodCategory" asp-items="Model.Category">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].Sold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods![0].DiscountToday)
            </th>
               <th>
            @Html.DisplayNameFor(model => model.Foods![0].FinalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Foods!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <img src="@item.Image" alt="Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountToday)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>


            </tr>
        }
    </tbody>
</table>
